@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/menu.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV-BAR CSS */
.nav {
  max-width: 1160px;
}
.nav_logo a {
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.nav_links li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.nav_links li a:hover {
  color: rgb(49, 49, 49);
  text-shadow: 0 0 5px #ffffff,
              0 0 25px #ffffff,
              0 0 50px #ffffff,
              0 0 100px #ffffff;
}
.nav_Menu {
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border: 1px solid rgba(255, 255, 255, 0.34);
}
#showNav {
  transform: translateY(0);
  line-height: 3rem;
  background: #dbd9d95c;
  width: 100%;
  border-radius: 30px;
  position: absolute;
  top: 6rem;
}
.hamburgerMenuToggler {
  width: 10%;
  margin-left: 1rem;
  display: none;
  cursor: pointer;
}
.hamburgerMenuToggler img {
  width: 100%;
}
/* HOME CSS */
.home {
  width: 100%;
  margin-bottom: 4rem;
}
.home_Container {
  padding: 10rem;
}
.home_Text P {
  font-family: monospace;
  font-weight: bolder;
}
.home_Text P h1 span::before {
  content: attr(data-text);
  position: absolute;
  color: rgb(59, 58, 58);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: animate 8s ease-in;
  background: white;
  transition: all 0.4s;
  border-radius: 8px;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 23%;
  }
}
.home_Text {
  color: white;
}
.home_Text p h1 {
  font-weight: bolder;
}
.d_Cv {
  text-align: center;
  background: transparent;
  width: 10rem;
  padding: 7px 0 7px 0;
  border-radius: 30px;
  border: 2px solid white;
}
.d_Cv:hover{
  background: #fff;
}
.d_Cv a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.d_Cv a:hover{
  color: #4d4d4d;
}
.myImg {
  margin-left: 10rem;
  border: 5px solid white;
  padding: 10px;
  border-radius: 30px;
}
.myImg img {
  border-radius: 30px;
}
/* SERVICES CSS */
.services {
  margin-bottom: 10rem;
}
.serv_Cont {
  max-width: 1170px;
  margin: auto;
}
.servs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}
.serv_Cont header {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.div1 {
  margin: 0.5rem;
  padding: 1rem;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border: 1px solid rgba(255, 255, 255, 0.34);
  color: white;
}
.div1:hover {
  background: white;
  color: rgb(50, 50, 50);
  z-index: 100;
  box-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.048),
    0px 11.8px 11.6px rgba(0, 0, 0, 0.072), 0px 53px 52px rgba(0, 0, 0, 0.12);
  /* box-shadow: 0px 10px 20px 5px #ffffff7a; */
}
.div1 lebel {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.div1 p {
  font-family: monospace;
}
/* WORKS CSS */
.work {
  margin-bottom: 10rem;
  text-align: center;
}
.work_Cont {
  max-width: 1170px;
  margin: auto;
}
.works {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.work_Cont header {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  text-align: start;
}
.work_div {
  margin: 0.5rem;
  padding: 1rem;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border: 1px solid rgba(255, 255, 255, 0.34);
}
.work_div:hover {
  z-index: 100;
  box-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.048),
    0px 11.8px 11.6px rgba(0, 0, 0, 0.072), 0px 53px 52px rgba(0, 0, 0, 0.12);
  /* box-shadow: 0px 10px 20px 5px #ffffff7a; */
}
.work_div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: 0.4s;
  border-radius: 30px;
}
.info {
  padding: 35px;
  background: white;
  transform: translateY(50%);
  transition: 0.4s;
  opacity: 0;
}
.info:hover {
  opacity: 1;
  border-radius: 30px;
}
.info h3 {
  font-size: 30px;
  line-height: 110%;
  font-family: "Montserrat", sans-serif;
}
.info p {
  padding: 10px 0;
  font-size: 16px;
  opacity: 0;
  transition: 0.4s;
  font-family: monospace;
}
.btn {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  background: #03a9f4;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pinter;
  opacity: 0;
  transition: 0.4s;
}
.work_div:hover .info {
  transform: translateY(0);
}

.work_div:hover p,
.work_div:hover a {
  opacity: 1;
}

.work_div:hover img {
  transform: scale(1.15);
}
.shHide {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: none;
  border-radius: 30px;
  text-transform: capitalize;
  padding: 12px 36px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0;
  position: relative;
  transition: color 0.4s linear;
  position: relative;
  overflow: hidden;
  margin: 0;
}
.shHide:hover {
  background: #fff;
  color: #000;
}
.shHide::before {
  border: 1px solid transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #ffffff;
  z-index: 1;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleY(0);
  border-radius: 0;
}
/* ABOUT ME */
.abt {
  text-align: center;
  padding-bottom: 3rem;
}
.abt_Cont {
  max-width: 1170px;
  margin: auto;
}
.abt_Cont header {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  text-align: start;
}
.abtS {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 3rem;
}
.abt_Me {
  width: 100%;
}
.abt_Me {
  width: 100%;
  color: #fff;
  text-align: start;
}
.abt_Me p {
  font-family: monospace;
}
.skLs {
  width: 100%;
}
.skills {
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.5s;
}
.container-wraper-skill {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.527);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  height: 30rem;
  transition: all 0.4s ease-in;
}
.bar-container {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 400px;
  border-radius: 12px;
}
.skill-name {
  font-size: 15px;
  font-weight: 100;
  color: #4d4d4d;
  text-transform: uppercase;
  margin: 15px 0;
}
.skill-bar {
  border-radius: 3px;
  border: 1px solid white;
  border-radius: 10px;
}
.skill-per {
  height: 10px;
  background: #ffffff;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}
.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #ffffff;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}
@keyframes fillBars {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
.slide {
  max-width: 1100px;
  padding-bottom: 5rem;
  margin: auto;
}
.slide_Cont ul {
  display: flex;
  justify-content: center;
}
.slide_Cont ul li {
  list-style: none;
  margin-right: 5rem;
}

.slideImg {
  background: rgba(255, 255, 255, 0.31);
  border-radius: 30px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border: 1px solid rgba(255, 255, 255, 0.34);
  width: 5rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.slideImg:hover {
  transform: translateY(-30px);
}
/* TESTIMONIAL */
.testi_Slide {
  max-width: 1100px;
  margin: auto;
  padding-bottom: 7rem;
}
.tesTi {
  margin: auto;
  color: white;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 30px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.tesTi p {
  font-family: monospace;
}
.testi_Cont header {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  text-align: start;
}
/* CONTACT */
.cont_aCt {
  max-width: 1100px;
  padding-bottom: 3rem;
}
.contact_wrapper {
  width: 100%;
  z-index: 10;
  transition: all 0.2s;
}
.contact_header {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  text-align: start;
}
.col-md-9.mb-md-0.mb-5.form p {
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: 900;
  color: #ffffff;
}
.form_Container {
  margin: auto;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 30px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border: 1px solid rgba(255, 255, 255, 0.34);
  padding: 2rem;
  margin: 1rem;
}
.form {
  margin: auto;
}
input#name,
input#email,
textarea#message {
  margin-bottom: 2rem;
  margin-top: 2rem;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #ffffff;
}
input#name:focus {
  background: white;
}
input#email:focus {
  background: white;
}
textarea#message:focus {
  background: white;
}
::placeholder {
  color: #fff !important;
  font-family: monospace;
  opacity: 1;
}

.text-center.text-md-left button {
  font-size: 21px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: monospace;
}
.det {
  margin: auto;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 30px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border: 1px solid rgba(255, 255, 255, 0.34);
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.det ul li {
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-family: monospace;
}
button.sub_Btn {
  border: 1px solid #ffffff;
  background: transparent;
  color: #f9f9f9;
  border-radius: 29px;
  text-transform: uppercase;
  padding: 7px 36px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0;
}
button.sub_Btn:hover {
  background: white;
  color: #000;
}
@media only screen and (min-width: 320px) {
  .container {
    justify-content: space-between;
  }
  .nav_links {
    flex-direction: column;
  }
  .hamburgerMenuToggler {
    display: block;
  }
  .nav_Menu {
    transform: translateY(-12.5rem);
  }
  .home_Container {
    flex-direction: column;
    padding: 0;
  }
  .myImg {
    margin-left: 0;
  }
  .home_Text {
    width: 80%;
    margin-left: 4rem;
  }
  .nav {
    height: 8rem;
  }
  .div1 {
    width: 17rem;
  }
  .serv_Cont header {
    margin: 1rem;
  }
  .work_div {
    width: 17rem;
  }
  .work_Cont header {
    margin: 1rem;
  }
  .abtS {
    flex-direction: column;
    padding: 1rem;
  }
  .abt_Cont header {
    margin: 1rem;
  }
  .slide_Cont ul {
    flex-wrap: wrap;
  }
  .slide_Cont ul li {
    margin-right: 4rem;
    margin-bottom: 1rem;
  }
  .form_Container {
    margin: 1rem;
  }
  .testi_Slide {
    margin: 1rem;
}
}
@media only screen and (min-width: 425px) {
  .div1 {
    width: 24rem;
  }
  .abtS {
    padding: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .nav {
    height: 100%;
  }
  .container {
    justify-content: center;
  }
  .nav_links {
    flex-direction: row;
  }
  .hamburgerMenuToggler {
    display: none;
  }
  .nav_Menu {
    transform: translateY(0);
  }
  .home_Container {
    flex-direction: row;
    padding: 10rem;
  }
  .home_Text {
    width: 61%;
    margin-left: 2rem;
  }
  .div1 {
    width: 30rem;
  }
  .work_div {
    width: 30rem;
  }
  .abt_Cont {
    margin: 2rem;
}
  .abtS {
    flex-direction: row;
    padding: 0;
  }


}
@media only screen and (min-width: 1024px) {
  .home_Text {
    width: 55%;
  }
  .slide_Cont ul {
    flex-wrap: nowrap;
  }
  .slide_Cont ul li:nth-child(2) {
    transform: translateY(-30px);
  }
  .slide_Cont ul li:nth-child(4) {
    transform: translateY(-30px);
  }
  .slide_Cont ul li:nth-child(6) {
    transform: translateY(-30px);
  }

}
@media only screen and (min-width: 1320px) {
  .home_Text {
    width: 40%;
  }
  .slide_Cont ul li {
    margin-right: 5rem;
  }
  .abt_Cont {
    margin: auto;
}
  .testi_Slide {
    margin: auto;
}
.cont_aCt {
  margin: auto;
}
}
@media only screen and (min-width: 2560px) {
  html {
    zoom: 1.5;
  }
}
